
div .App {
  /* margin: 9em ; */
  background-color: rgb(0, 229, 255);
}

h1 {
  margin-left: 680px;

}

ul {
  list-style-type: none;
  margin-bottom: 19em;
  margin-left: 42em;
  margin-right: 42em;
  padding: 00;
  overflow: hidden;
  background-color: white;
}


ul a, .btn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 24px 210px;
  text-decoration: none;
  font-size: 30px;
  font-style: italic;

}

 a:hover, .drop:hover .btn {
  background-color:wheat;
  

}

ul.drop {

  display: inline-block;
}


.drop-Menu a {
 
  color: black;
  padding: 24px 230px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.drop-Menu a:hover {background-color: #f1f1f1;}

.drop:hover .drop-Menu{
  display: block;
}

.drop-Menu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.057);
  z-index: 1;
}